.login input:focus,
.login textarea:focus,
.login select:focus,
.login button:focus {
    outline: none;
}

.login fieldset{
    text-align: center;
    /* text-align: right; */
    /* margin-right: 45%; */
    border: none;
}

.login label{
    margin-right: 2%;
}

.login input{
    margin: 0 0 2% 0;
}

.login input:focus {
    background-color: #aeddff;
}

.login .field span{
    margin: 0 0 0 2%;
}