.register input:focus,
.register textarea:focus,
.register select:focus,
.register button:focus {
    outline: none;
}

.register h2, 
.register .field{
    margin: 0 0 1em 0;
}

.register h2{
    text-align: center;
}

form.register {
    margin: 0 auto;
    width: 28%;
}

.register fieldset {
    /* text-align: right; */
    /* margin-right: 45%; */
    border: none;
}

.register label {
    margin: 0 2% 0 0;
    display: inline-block;
    text-align: right;
    min-width: 100px;
}

.register input:focus {
    background-color: #aeddff;
}

.register .field p.fronEndError {
    text-align: center;
    margin: 1em 0 0 0;
}

.register button {
    display: block;
    margin: 0 auto;
}

